@charset "UTF-8";

body{
    width: 800px;
    margin: 0 auto;
    color: white;
    background-color: black;
}
header{
    margin-top: 10px;
    height: 100px;
    display: flex; 
    justify-content: space-between; 
}
.type-nav{
    display: flex;
    align-items: center;
    gap: 15px;
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    height: fit-content;
}
.type-nav li{
    border-radius: 10px;
    padding: 20px;
    
}
.header_menu {
    background-color: greenyellow;
    
}
header h1{
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
}
header a{
    color: white;
    text-decoration: none;
}
section h1{
    text-align: center;
    font-size: 70px;
    margin: 0%;
    padding: 20px;
    margin-bottom: 30px;
    
}
.main ul{
    padding-left: 20px;
    width: 200px;
    padding-bottom: 40px;
    
}
.main li{
    line-height: 1.8;
    text-transform: capitalize;
}
.main li::marker{
    
    color: greenyellow;
}
.plano{
    background-color: rgb(53, 51, 51);
    position: relative;
    flex-grow: 1;
}

.plano h2{
    text-transform: capitalize;
    font-size: 30px;
}
.plano p{
    border-top: 1px solid greenyellow;
    padding-top: 20px;
    font-size: 30px;
}
section .mae{
   display: flex;
   justify-content: space-between;
    gap: 30px;
    
}
button{
    
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0%;
    background-color: rgb(17, 231, 106);
    border-radius: 7px;
}
button:hover{
    background-color: greenyellow;
}

