@charset "UTF-8";


body{
    margin: 0%;
    background-color: darkgray;

}
header{
    padding: 0%;
    text-align: center;
    background-image: url(imagens/bg-3.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: right center;
    background-attachment: scroll;
    height: 500px;
   
    


}
header h1{
   
    margin: 0%;
    padding-top: 100px;
}
header>p{
    background-color: rgb(207, 194, 194);
    display: inline;
    padding: 10px;
    text-align: center;
}
nav{
   padding: 10px;
}
ul{
   padding: 10px;
   text-align: end;
   margin: 0%;
}
 ul li{
   margin-left: 10px;
   display: inline-block;
   list-style-type: none;
   background-color: rgba(0, 0, 0, 0.205);
   border: 2px solid white;
   
 }
 nav a{
   display: block;
   padding: 10px;
   letter-spacing: 2px;
   color: white;
 text-decoration: none;
 text-transform: uppercase;
 }
 nav a:hover{
   background-color: rgba(0, 0, 0, 0.11);
 }
 div{
   margin: 50px;
 }
 div h1{
   text-transform: uppercase;
   color: white;
   padding: 50px;
   font-size: 4em;
   text-shadow: 2px 2px 1px black;
 }
 #tela{
   background-color: ;
   width: 300px;
   height: 300px;
   display: block;
   float: left;
   margin: 0%;

 }
 #tela p{
   font-family:Arial, Helvetica, sans-serif;
   text-transform: capitalize;
   padding: 10px;
   margin-left: 150px;
   border: 2px solid white;
   width: 100px;
   height: 200px;
   overflow: hidden;
 }

 section{
    background-color: rgb(173, 166, 166);
 }
 article{
    margin: 30px;
    padding: 10px;
    background-color: white
 }
 article h1{
    background-color: rgba(169, 169, 169, 0.479);
    padding: 10px;
    

    
 }
 article p{

 }
 article footer{
    background-color: rgb(161, 160, 160);
    display: inline-block;
    padding: 10px;
    border-radius: 6px;
    
    
    

 }
 footer a{
    color: blue;
    
 }
 footer{
   margin: 0%;
    text-align: center;
    background-color: rgb(88, 87, 87);
 }
   footer>p{
      margin: 0%;
      padding: 20px;
   }

